body{
    margin: auto;
}

header{
    height: 120px;
    border-bottom: 3px solid #fbfbfd;
    color: #fbfbfd;
    background-color: #446ebd;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 20px;
}
.TitleWebSite{
    font-size: 4rem;
}
header nav a{
    text-decoration: none;
    color: #fbfbfd;
}
#menu{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

nav button{
    background-color: floralwhite;
    border: goldenrod solid 3px;
    border-radius: 3px;
    width: 8em;
    height: 3em;
}

#myDropdown{
    display: none;
    position: absolute;
    background-color: cornflowerblue;
    padding: 10px;
    flex-direction: column;
    top: 82px;
    z-index: 2;
    width: 91px;
    border-bottom: goldenrod solid 3px;
    border-left: goldenrod solid 3px;
    border-right: goldenrod solid 3px;
    align-items: center;

}

main{
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
    flex-wrap: wrap;
    margin: 200px;
    border: #fbfbfd 3px solid;
}

#refresh{
    width: 50px;
    height: 50px;
    background-image: url('img/refresh\(1\).svg');
    background-color: cornflowerblue;
    border-radius: 8px;
}
#feed{
    width: 60%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
footer{
    position: relative;
    bottom: 0px;
    color: #fbfbfd;
    padding: 25px;
    border-bottom: 3px solid #fbfbfd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #fbfbfd;

}


/* Carrousel css */
/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.toto{
    width: 100%;
    height: 300px;
}
.toto img {
    width: 100%;
    height: 100%;
}