body{
    margin: auto;
}

header{
    height: 120px;
    border-bottom: 3px solid #fbfbfd;
    color: #fbfbfd;
    background-color: #c0da86;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 20px;
}
.pt1H{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.TitleWebSite{
    font-size: 4rem;
}
.logo{
    margin-left: 500px;
    width: auto;
    height: 125px;
}
header nav a{
    text-decoration: none;
    color: #fbfbfd;
}
#menu{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

nav button{
    background-color: floralwhite;
    border: goldenrod solid 3px;
    border-radius: 3px;
    width: 8em;
    height: 3em;
}

#myDropdown{
    display: none;
    position: absolute;
    background-color: cornflowerblue;
    padding: 10px;
    flex-direction: column;
    top: 82px;
    z-index: 2;
    width: 91px;
    border-bottom: goldenrod solid 3px;
    border-left: goldenrod solid 3px;
    border-right: goldenrod solid 3px;
    align-items: center;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    width: 60%;
    border: #fbfbfd 3px solid;
    box-shadow: #bcbcc5 10px 10px 10px;
}
#mesarticles{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
}
.aricleUnitaire{
    border: black 3px solid;
    width: 24%;
    height: 300px;
}
#mesphotos{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.photoUnitaire {
    border: black 1px solid;
    width: 24%;
}
.photoUnitaire img {
    width: 100%;
    height: 300px;
}

#refresh{
    width: 25px;
    height: 25px;
    background-image: url('img/refresh\(1\).svg');
    background-color: cornflowerblue;
    border-radius: 8px;
}
#name{
    width: 400px;
    height: 100px;
}

footer{
    position: relative;
    bottom: 0px;
    color: #fbfbfd;
    padding: 25px;
    border-bottom: 3px solid #fbfbfd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #fbfbfd;

}


/* Carrousel css */
/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.toto{
    width: 100%;
    
}
.toto img {
    width: 100%;
    height: 100%;
}

/* jeux */ 
#game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    text-align: center;
}
.game1{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black 2px solid;
}
#paper{
    width: 150px;
    height: 150px;
    background-image: url('img/feuille.jpg');
    background-size: cover;
}
#rock{
    width: 150px;
    height: 150px;
    background-image: url('img/rock.jpg');
    background-size: cover;
}
#scissors{
    width: 150px;
    height: 150px;
    background-image: url('img/ciseaux.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

